
# Database
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE_NAME"

# Server
PORT=8080

# Database configuration
DB_NAME="DATABASE_NAME"
DB_PORT=3306
DB_USER="USER"
DB_PASSWORD="PASSWORD"
DB_HOST="HOST"
DB_DIALECT=mysql

# Authentication
JWT_SECRET="YOUR_JWT_SECRET"
